{{ $data := .data }}
{{ $site := .site }}

{{ $thankyou := $data.Params.thankyou_page}}
{{ $type := $data.Params.type }}
{{ $name := $data.Title }}
{{ $color := $data.Params.color }}

<div class="mt-1">

  
    <form method="post" name="{{$name | urlize}}-{{$site.Language.Lang}}" id="{{$name | urlize}}-{{$site.Language.Lang}}" data-netlify="true" action="{{$thankyou}}">
      <div class="grid grid-cols-4 gap-6">
        
        {{ if eq $type "30minutes"}}
        <div class='col-span-4'>
          <label class="block">
            <span >Wat wil je bespreken?<span class="text-red-500">*</span></span>
            <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="notes" name="notes"  required></textarea>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span>Wanneer? Kies datum<span class="text-red-500">*</span></span>
            <input  class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="30mindatepicker" name="date" type="datetime" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span>En tijdstip<span class="text-red-500">*</span></span>
            <input  class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="30mintimepicker" name="time" type="datetime" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "name" }} <span class="text-red-500">*</span></span>
            <input  class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="name" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "email" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "phonenumber" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="phonenumber" name="phonenumber" type="text"  required>
          </label>
        </div>

        <div class="col-span-4">
          <label class="flex items-center space-x-3 cursor-pointer">
            <input type="checkbox" name="newsletter" id="newsletter" class="w-4 h-4">
            <span >{{ T "newsletter" }}</span>
          </label>
        </div>

        <div class="col-span-4">
          {{ if $color }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >Aanvragen</button>
          {{ else }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >Aanvragen</button>
          {{ end }}
        </div>
      </div>
      {{ end }}

      {{ if eq $type "factuurgegevens"}}
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "tav" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="tav" name="tav" type="text" required>
          </label>
        </div>
        <div class='col-span-4'>
          <label class="block">
            <span >{{ T "streetorbox" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="streetorbox" name="streetorbox" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "postalcode" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="postalcode" name="postalcode" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "land" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="land" name="land" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "emaileinvoices" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "po" }}</span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="po" name="po" type="text"  >
          </label>
        </div>
        <div class="col-span-4">
          {{ if $color }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "send_form" }}</button>
          {{ else }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "send_form" }}</button>
          {{ end }}
        </div>
      </div>
      {{ end }}
  

      {{ if eq $type "quotation"}}
        <div class='col-span-4'>
          <label class="block">
            <span >{{ T "notes" }} <span class="text-red-500">*</span></span>
            <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="notes" name="notes"  required></textarea>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "name" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="name" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "email" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "phonenumber" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="phonenumber" name="phonenumber" type="text"  required>
          </label>
        </div>
        <div class="col-span-4">
          <label class="flex items-center space-x-3 cursor-pointer">
            <input type="checkbox" name="newsletter" id="newsletter" class="w-4 h-4">
            <span >{{ T "newsletter" }}</span>
          </label>
        </div>
        <div class="col-span-4">
          {{ if $color }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "receive_quotation" }}</button>
          {{ else }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "receive_quotation" }}</button>
          {{ end }}
        </div>
      </div>
      {{ end }}
  
      {{ if eq $type "newsletter"}}
        <div class='col-span-4 md:col-span-2'>
          <label class="block text-left">
            <span class="text-lef" >{{ T "name" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="text" required>
          </label>
        </div>
        <div class='col-span-4 md:col-span-2'>
          <label class="block text-left">
            <span >{{ T "email" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
          </label>
        </div>
        <div class="col-span-4">
          {{ if $color }}
          <button type="submit" class="inline-block px-4 py-4 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "subscribe" }}</button>
          {{ else }}
          <button type="submit" class="inline-block px-4 py-4 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "subscribe" }}</button>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if eq $type "contact"}}
        <div class='col-span-4'>
          <label class="block">
            <span >{{ T "notes" }} <span class="text-red-500">*</span></span>
            <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="notes" name="notes"  required></textarea>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "name" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "email" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "phonenumber" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="phonenumber" name="phonenumber" type="text"  required>
          </label>
        </div>

        <div class="col-span-4">
          <label class="flex items-center space-x-3 cursor-pointer">
            <input type="checkbox" name="newsletter" id="newsletter" class="w-4 h-4">
            <span >{{ T "newsletter" }}</span>
          </label>
        </div>

        <div class="col-span-4">
          {{ if $color }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "send_form" }}</button>
          {{ else }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "send_form" }}</button>
          {{ end }}
        </div>
      </div>
      {{ end }}

      {{ if eq $type "birthday"}}
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "name" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "birthday" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="birthday" name="birthday" type="text" placeholder="dd-mm-yyyy"  required >
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "phonenumber" }} <span class="text-red-500">*</span></span>
            <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="phonenumber" name="phonenumber" type="text"  required>
          </label>
        </div>
        <div class="col-span-4">
          <label class="flex items-center space-x-3 cursor-pointer">
            <input type="checkbox" name="newsletter" id="newsletter" class="w-4 h-4">
            <span >{{ T "newsletter" }}</span>
          </label>
        </div>
        <div class="col-span-4">
          {{  if $color }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "send_form" }}</button>
          {{ else }}
          <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >{{ T "send_form" }}</button>
          {{ end }}
        </div>
      </div>
    {{ end }}


    {{ if eq $type "review_intern"}}

    <div class='col-span-4'>
      <label class="block">
        <span>Als bedankje wil ik een...<span class="text-red-500">*</span></span>
        <select name="gift" id="gift" class="block w-full h-12 px-2 py-1 mt-1 text-gray-800 border border-gray-400">
          <option value="zalando15">Zalando Giftcard t.w.v. €15,-</option>
          <option value="bol15">Bol.com cadeaubon t.w.v. €15,-</option>
        </select>
      </label>
    </div>
    
    <div class="col-span-4"> 
      <h3>Salestraject</h3>
      <p>Vragen m.b.t. de eerste kennismaking t/m het tekenen van de offerte.</p>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Contactpersoon salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wie is jouw primaire contactpersoon geweest tijdens het verkooptraject?</span>
        <select name="salesmanager" id="salesmanager" class="block w-full h-12 px-2 py-1 mt-1 text-gray-800 border border-gray-400">
          <option value="suzan">Suzan</option>
          <option value="victor">Victor</option>
          <option value="frank">Frank</option>
          <option value="peter">Peter</option>
          <option value="michael">Michael</option>
        </select>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Persoonlijke klik salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (geen klik) en 10 (goede klik).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="klikSalesmanager" name="klikSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Bereikbaarheid salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (niet bereikbaar) en 10 (uitstekend bereikbaar).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="bereikbaarheidSalesmanager" name="bereikbaarheidSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Expertise salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (weinig expertise) en 10 (brede expertise).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="expertiseSalesmanager" name="expertiseSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Afspraken salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (onduidelijke afspraken) en 10 (heldere afspraken).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="afsprakenSalesmanager" name="afsprakenSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Compliment(en) voor salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat vond je prettig tijdens het verkooptraject van onze salesmanager?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="complimentSalesmanager" name="complimentSalesmanager"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Tip(s) voor salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat kan beter aan de aansturing van onze salesmanager?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="tipsSalesmanager" name="tipsSalesmanager"  required></textarea>
      </label>
    </div>


    <div class="col-span-4"> 
      <h3>Productietraject</h3>
      <p>Vragen m.b.t. de productie t/m de oplevering van de eindproducten en/of diensten.</p>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Contactpersoon projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wie is jouw primaire contactpersoon geweest tijdens het productietraject?</span>
        <select name="projectbegeleiding" id="projectbegeleiding" class="block w-full h-12 px-2 py-1 mt-1 text-gray-800 border border-gray-400">
          <option value="inge">Inge</option>
          <option value="sebastiaan">Sebastiaan</option>
        </select>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Persoonlijke klik projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (geen klik) en 10 (goede klik).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="klikProjectbegeleiding" name="klikProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Bereikbaarheid projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (niet bereikbaar) en 10 (uitstekend bereikbaar).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="bereikbaarheidProjectbegeleiding" name="bereikbaarheidProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Expertise projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (weinig expertise) en 10 (brede expertise).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="expertiseProjectbegeleiding" name="expertiseProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Afspraken projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (onduidelijke afspraken) en 10 (heldere afspraken).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="afsprakenProjectbegeleiding" name="afsprakenProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Compliment(en) voor projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat vond je prettig aan de aansturing van onze projectbegeleider?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="complimentProjectbegeleiding" name="complimentProjectbegeleiding"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Tip(s) voor projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat kan beter aan de aansturing van onze projectbegeleider?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="tipsProjectbegeleiding" name="tipsProjectbegeleiding"  required></textarea>
      </label>
    </div>

    <div class="col-span-4"> 
      <h3>Eindresultaat</h3>
      <p>Vragen m.b.t. de eindproducten of -diensten.</p>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Algemeen eindcijfer samenwerking<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (volledig ontevreden) en 10 (razend enthousiast). Het cijfer wordt online gebruikt als referentie.</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="eindcijfer" name="eindcijfer" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Toelichting algemeen eindcijfer samenwerking<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Vertel hoe jij de samenwerking hebt ervaren</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="eindcijferToelichting" name="eindcijferToelichting"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Wat ga je met de video- of animatiefilm doen?<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat zijn de plannen om de betreffende film(s) te laten scoren? Welke strategie is bedacht om doelstelling(en) te halen?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="watgajedoenmetproduct" name="watgajedoenmetproduct"  required></textarea>
      </label>
    </div>


    <div class='col-span-4'>
      <label class="block">
        <span class="block">Welke videovormen zijn interessant voor de toekomst?<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Meerdere opties aanvinken is mogelijk.</span>
        <fieldset>
          <div>
            <input type="checkbox" id="uitleganimatie" name="videoToekomst" value="uitleganimatie">
            <label for="uitleganimatie">Uitleganimatie 2D/3D</label>
          </div>
          <div>
            <input type="checkbox" id="bedrijfsfilm" name="videoToekomst" value="bedrijfsfilm">
            <label for="bedrijfsfilm">Bedrijfsfilm</label>
          </div>
          <div>
            <input type="checkbox" id="productfilm" name="videoToekomst" value="productfilm">
            <label for="productfilm">Productfilm</label>
          </div>
          <div>
            <input type="checkbox" id="employer" name="videoToekomst" value="employer">
            <label for="employer">Employer Branding / vacaturefilms</label>
          </div>
          <div>
            <input type="checkbox" id="commercial" name="videoToekomst" value="commercial">
            <label for="commercial">Commercial</label>
          </div>
          <div>
            <input type="checkbox" id="voorlichtingsfilm" name="videoToekomst" value="voorlichtingsfilm">
            <label for="voorlichtingsfilm">Voorlichtingsfilm</label>
          </div>
          <div>
            <input type="checkbox" id="interactieveVideo" name="videoToekomst" value="interactieveVideo">
            <label for="interactieveVideo">Interactieve video</label>
          </div>
          <div>
            <input type="checkbox" id="gepersonaliseerdeVideo" name="videoToekomst" value="gepersonaliseerdeVideo">
            <label for="gepersonaliseerdeVideo">Gepersonaliseerde video</label>
          </div>
        </fieldset>
      </label>
    </div>

    
    <div class="col-span-4"> 
      <h3>Persoonsgegevens</h3>
      <p>Zodat we contact met je kunnen opnemen.</p>
    </div>

    <div class='col-span-2'>
      <label class="block">
        <span >{{ T "name" }} <span class="text-red-500">*</span></span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="name" required>
      </label>
    </div>
    <div class='col-span-2'>
      <label class="block">
        <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
      </label>
    </div>
    <div class='col-span-4'>
      <label class="block">
        <span >{{ T "email" }} <span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">E-mailadres waar bon heen gaat</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
      </label>
    </div>

    <div class="col-span-4">
      <label class="flex items-center space-x-3 cursor-pointer">
        <input type="checkbox" name="newsletter" id="newsletter" class="w-4 h-4">
        <span >{{ T "newsletter" }}</span>
      </label>
    </div>

 
    <div class="col-span-4">
      {{ if $color }}
      <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >Recensie verzenden</button>
      {{ else }}
      <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >Recensie verzenden</button>
      {{ end }}
    </div>

    {{ end }}

    {{ if eq $type "review_extern"}}

    <div class='col-span-4'>
      <label class="block">
        <span>Als bedankje wil ik een...<span class="text-red-500">*</span></span>
        <select name="gift" id="gift" class="block w-full h-12 px-2 py-1 mt-1 text-gray-800 border border-gray-400">
          <option value="zalando25">Zalando Giftcard t.w.v. €25,-</option>
          <option value="bol25">Bol.com cadeaubon t.w.v. €25,-</option>
        </select>
      </label>
    </div>
    
    <div class="col-span-4"> 
      <h3>Salestraject</h3>
      <p>Vragen m.b.t. de eerste kennismaking t/m het tekenen van de offerte.</p>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Contactpersoon salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wie is jouw primaire contactpersoon geweest tijdens het verkooptraject?</span>
        <select name="salesmanager" id="salesmanager" class="block w-full h-12 px-2 py-1 mt-1 text-gray-800 border border-gray-400">
          <option value="suzan">Suzan</option>
          <option value="victor">Victor</option>
          <option value="frank">Frank</option>
          <option value="peter">Peter</option>
          <option value="michael">Michael</option>
        </select>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Persoonlijke klik salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (geen klik) en 10 (goede klik).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="klikSalesmanager" name="klikSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Bereikbaarheid salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (niet bereikbaar) en 10 (uitstekend bereikbaar).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="bereikbaarheidSalesmanager" name="bereikbaarheidSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Expertise salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (weinig expertise) en 10 (brede expertise).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="expertiseSalesmanager" name="expertiseSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Afspraken salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (onduidelijke afspraken) en 10 (heldere afspraken).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="afsprakenSalesmanager" name="afsprakenSalesmanager" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Compliment(en) voor salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat vond je prettig tijdens het verkooptraject van onze salesmanager?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="complimentSalesmanager" name="complimentSalesmanager"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Tip(s) voor salesmanager<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat kan beter aan de aansturing van onze salesmanager?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="tipsSalesmanager" name="tipsSalesmanager"  required></textarea>
      </label>
    </div>

    <div class="col-span-4"> 
      <h3>Productietraject</h3>
      <p>Vragen m.b.t. de productie t/m de oplevering van de eindproducten en/of diensten.</p>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Contactpersoon projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wie is jouw primaire contactpersoon geweest tijdens het productietraject?</span>
        <select name="projectbegeleiding" id="projectbegeleiding" class="block w-full h-12 px-2 py-1 mt-1 text-gray-800 border border-gray-400">
          <option value="inge">Inge</option>
          <option value="sebastiaan">Sebastiaan</option>
        </select>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Persoonlijke klik projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (geen klik) en 10 (goede klik).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="klikProjectbegeleiding" name="klikProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Bereikbaarheid projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (niet bereikbaar) en 10 (uitstekend bereikbaar).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="bereikbaarheidProjectbegeleiding" name="bereikbaarheidProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Expertise projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (weinig expertise) en 10 (brede expertise).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="expertiseProjectbegeleiding" name="expertiseProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Afspraken projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (onduidelijke afspraken) en 10 (heldere afspraken).</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="afsprakenProjectbegeleiding" name="afsprakenProjectbegeleiding" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Compliment(en) voor projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat vond je prettig aan de aansturing van onze projectbegeleider?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="complimentProjectbegeleiding" name="complimentProjectbegeleiding"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Tip(s) voor projectbegeleiding<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat kan beter aan de aansturing van onze projectbegeleider?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="tipsProjectbegeleiding" name="tipsProjectbegeleiding"  required></textarea>
      </label>
    </div>

    <div class="col-span-4"> 
      <h3>Eindresultaat</h3>
      <p>Vragen m.b.t. de eindproducten of -diensten.</p>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Algemeen eindcijfer samenwerking<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Geef een cijfer tussen de 0 (volledig ontevreden) en 10 (razend enthousiast). Het cijfer wordt online gebruikt als referentie.</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="eindcijfer" name="eindcijfer" type="number" min="0" max="10"  required>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Toelichting algemeen eindcijfer samenwerking<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Vertel hoe jij de samenwerking hebt ervaren</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="eindcijferToelichting" name="eindcijferToelichting"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Wat ga je met de video- of animatiefilm doen?<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Wat zijn de plannen om de betreffende film(s) te laten scoren? Welke strategie is bedacht om doelstelling(en) te halen?</span>
        <textarea rows="6" class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="watgajedoenmetproduct" name="watgajedoenmetproduct"  required></textarea>
      </label>
    </div>

    <div class='col-span-4'>
      <label class="block">
        <span class="block">Welke videovormen zijn interessant voor de toekomst?<span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">Meerdere opties aanvinken is mogelijk.</span>
        <fieldset>
          <div>
            <input type="checkbox" id="uitleganimatie" name="videoToekomst" value="uitleganimatie">
            <label for="uitleganimatie">Uitleganimatie 2D/3D</label>
          </div>
          <div>
            <input type="checkbox" id="bedrijfsfilm" name="videoToekomst" value="bedrijfsfilm">
            <label for="bedrijfsfilm">Bedrijfsfilm</label>
          </div>
          <div>
            <input type="checkbox" id="productfilm" name="videoToekomst" value="productfilm">
            <label for="productfilm">Productfilm</label>
          </div>
          <div>
            <input type="checkbox" id="employer" name="videoToekomst" value="employer">
            <label for="employer">Employer Branding / vacaturefilms</label>
          </div>
          <div>
            <input type="checkbox" id="commercial" name="videoToekomst" value="commercial">
            <label for="commercial">Commercial</label>
          </div>
          <div>
            <input type="checkbox" id="voorlichtingsfilm" name="videoToekomst" value="voorlichtingsfilm">
            <label for="voorlichtingsfilm">Voorlichtingsfilm</label>
          </div>
          <div>
            <input type="checkbox" id="interactieveVideo" name="videoToekomst" value="interactieveVideo">
            <label for="interactieveVideo">Interactieve video</label>
          </div>
          <div>
            <input type="checkbox" id="gepersonaliseerdeVideo" name="videoToekomst" value="gepersonaliseerdeVideo">
            <label for="gepersonaliseerdeVideo">Gepersonaliseerde video</label>
          </div>
        </fieldset>
      </label>
    </div>

    
    <div class="col-span-4"> 
      <h3>Persoonsgegevens</h3>
      <p>Zodat we contact met je kunnen opnemen.</p>
    </div>

    <div class='col-span-2'>
      <label class="block">
        <span >{{ T "name" }} <span class="text-red-500">*</span></span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="name" name="name" type="name" required>
      </label>
    </div>
    <div class='col-span-2'>
      <label class="block">
        <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="organization" name="organization" type="text" required>
      </label>
    </div>
    <div class='col-span-4'>
      <label class="block">
        <span >{{ T "email" }} <span class="text-red-500">*</span></span>
        <span class="block mb-4 text-base text-gray-500">E-mailadres waar bon heen gaat</span>
        <input class="block w-full px-2 py-1 mt-1 text-gray-800 border border-gray-400" id="email" name="email" type="email" required>
      </label>
    </div>


    <div class="col-span-4"> 
      <h3>Deel je recensie alvast online</h3>
      <p>Via de bevestigingsmail ontvang je de link naar onze Google pagina, zodat je de recensie direct online kan delen. Dit is een vereiste om in aanmerking te komen voor de tegoedbon naar keuze. Bedankt voor het invullen!</p>
    </div>

    <div class="col-span-4">
      <label class="flex items-center space-x-3 cursor-pointer">
        <input type="checkbox" name="newsletter" id="newsletter" class="w-4 h-4">
        <span >{{ T "newsletter" }}</span>
      </label>
    </div>

    <div class="col-span-4">
      {{ if $color }}
      <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 bg-{{$color}}-500 hover:opacity-80" style="color: white !important; text-decoration: none !important;" >Recensie verzenden</button>
      {{ else }}
      <button type="submit" class="inline-block px-4 py-4 mt-6 leading-none text-white transition duration-200 branch-element-bg hover:opacity-80" style="color: white !important; text-decoration: none !important;" >Recensie verzenden</button>
      {{ end }}
    </div>

    {{ end }}

    </form>
</div>