{{ $page := .page }}
{{ $data := .data }}

{{ $thankyou := $data.Params.thankyou_page}}
{{ $type := $data.Params.type }}
{{ $name := $data.Title }}

<div class="mt-1">

  
    <form method="post" name="{{$name}}" id="{{$name | urlize}}" data-netlify="true" action="{{$thankyou}}">
    
      {{ if eq $type "quotation"}}
      <div class="grid grid-cols-4 gap-6">
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "name" }} <span class="text-red-500">*</span></span>
            <input class="mt-1 block w-full text-gray-800 border border-gray-400 px-2 py-1" name="firstlast_name" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "organization" }} <span class="text-red-500">*</span></span>
            <input class="mt-1 block w-full text-gray-800 border border-gray-400 px-2 py-1" name="organization" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "email" }} <span class="text-red-500">*</span></span>
            <input class="mt-1 block w-full text-gray-800 border border-gray-400 px-2 py-1" name="email" required>
          </label>
        </div>
        <div class='col-span-2'>
          <label class="block">
            <span >{{ T "phonenumber" }} <span class="text-red-500">*</span></span>
            <input class="mt-1 block w-full text-gray-800 border border-gray-400 px-2 py-1" name="phonenumber"  required>
          </label>
        </div>
        <div class='col-span-4'>
          <label class="block">
            <span >{{ T "notes" }} <span class="text-red-500">*</span></span>
            <textarea rows="6" class="mt-1 block w-full text-gray-800 border border-gray-400 px-2 py-1" name="notes"  required></textarea>
          </label>
        </div>
      </div>

      <button type="submit" class="mt-6 branch-element-bg text-white px-4 py-4 leading-none inline-block hover:opacity-80 transition duration-200" style="color: white !important; text-decoration: none !important;" >{{ T "receive_quotation" }}</button>
    {{ end }}
    

    </form>
   

</div>