{{ $page := .page }}
{{ $source := .source }}
{{ $alt := .alt | safeHTML }}

{{ $width := .width }}
{{ $height := .height }}
{{ $width2x := (mul (int $width) (int 2)) }}
{{ $height2x := (mul (int $height) (int 2)) }}

{{ $size := (printf "%s%s%s" $width "x" $height ) }}
{{ $size2x := (printf "%s%s%s" (print $width2x) "x" (print $height2x )) }}

{{ $class := .class }}
{{ if $source }}
{{ with $page.Resources.GetMatch $source  }}
{{ with .  }}
{{ $src1x := (.Fill (printf "%s %s" $size "Center" )) }}
{{ $src2x := (.Fill (printf "%s %s" $size2x "Center" )) }}
<img src="{{ $src1x.RelPermalink }}" srcset="{{ $src1x.RelPermalink }} 1x, {{ $src2x.RelPermalink }} 2x" alt="{{ $alt }}"
  class=" {{ $class }}" width="{{$src1x.Width}}" height="{{$src1x.Height}}" loading="lazy">
{{ end }}
{{ end }}
{{ end }}


