{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}
{{ $numItems := (cond (ne ($params.number_of_items) nil) ($params.number_of_items) ( 3 ) ) }}
{{ $heading :=  (cond (ne ($params.heading) nil ) (.params.heading) ("h2") ) }}
{{ $headingclass := "text-2xl lg:text-3xl font-bold mb-4 xl:mb-12" }}
{{ $title := $params.title }}

{{ if eq $params.collection "cases" }}
<div class="text-gray-800 bg-gray-100">
  <div class="px-6 py-8 mx-auto lg:px-8 xl:px-24 lg:py-12 xl:pt-24">

    {{ if $title }}
      {{ if eq $heading "h1"}}
        <h1 class="{{$headingclass}}">{{$title}}</h1>
      {{ end }}
      {{ if eq $heading "h2"}}
        <h2 class="{{$headingclass}}">{{$title}}</h2>
      {{ end }}
      {{ if eq $heading "h3"}}
        <h3 class="{{$headingclass}}">{{$title}}</h3>
      {{ end }}
      {{ if eq $heading "h4"}}
        <h4 class="{{$headingclass}}">{{$title}}</h4>
      {{ end }}
      {{ if eq $heading "h5"}}
        <h5 class="{{$headingclass}}">{{$title}}</h5>
      {{ end }}
    {{ end }}
    <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-6 xl:gap-12">
   
      {{ range $index, $element := (where (where (where ($site.Pages) "Kind" "page") "Type" $params.collection) "Params.content_type" "==" $params.content_type    ) | first $numItems  }}

      {{ $item := . }}
      <a href="{{$item.RelPermalink}}" class="relative block overflow-hidden text-white group">
        {{ with .Params.image}}
        {{ partial "image.html" (dict "page" $item  "source" .source "alt" .alt "width" "750" "height" "800" "class" "relative") }}
        {{ end }}
        <div class=" transform duration-200 transition-all {{ if .Params.color}}bg-{{.Params.color}}-500{{else}}bg-blue-500{{end}} absolute w-full bottom-0 min-h-0 group-hover:min-h-full  z-20  p-12 text-gray-100">
          <h3 class="text-xl font-bold lg:text-3xl ">
            {{ .Title }}
          </h3>
          {{ range where $site.Pages "params.slug" .Params.branch }}
          <span class="inline-block mt-1 text-lg">{{.Title}}</span>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</div>

{{ else if eq $params.collection "blog"  }}

<div class="text-gray-800 bg-gray-100">
  <div class="px-6 py-8 mx-auto lg:px-8 xl:px-24 lg:py-12 xl:py-24">

    {{ if $title }}
      {{ if eq $heading "h1"}}
        <h1 class="{{$headingclass}}">{{$title}}</h1>
      {{ end }}
      {{ if eq $heading "h2"}}
        <h2 class="{{$headingclass}}">{{$title}}</h2>
      {{ end }}
      {{ if eq $heading "h3"}}
        <h3 class="{{$headingclass}}">{{$title}}</h3>
      {{ end }}
      {{ if eq $heading "h4"}}
        <h4 class="{{$headingclass}}">{{$title}}</h4>
      {{ end }}
      {{ if eq $heading "h5"}}
        <h5 class="{{$headingclass}}">{{$title}}</h5>
      {{ end }}
    {{ end }}
    <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-6 xl:gap-12">
   
      {{ range $index, $element := (where (where (where ($site.Pages) "Kind" "page") "Type" $params.collection) "Params.content_type" "==" $params.content_type    ) | first $numItems  }}
      {{ $item := . }}
      <a href="{{$item.RelPermalink}}" class="relative block overflow-hidden text-white group">
        {{ with .Params.image}}
        {{ partial "image.html" (dict "page" $item  "source" .source "alt" .alt "width" "750" "height" "800" "class" "relative") }}
        {{ end }}
        <div class=" transform duration-200 transition-all {{ if .Params.color}}bg-{{.Params.color}}-500{{else}}bg-blue-500{{end}} absolute w-full bottom-0 min-h-0 group-hover:min-h-full  z-20  p-12 text-gray-100">
          <h3 class="text-xl font-bold lg:text-3xl ">
            {{ .Title }}
          </h3>
          
          
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</div>

{{ else if eq $params.collection "members"  }}

<div class="px-6 py-8 mx-auto max-w-screen-2xl lg:px-8 xl:px-24 lg:pb-24">
    {{ if $title }}
      {{ if eq $heading "h1"}}
        <h1 class="{{$headingclass}}">{{$title}}</h1>
      {{ end }}
      {{ if eq $heading "h2"}}
        <h2 class="{{$headingclass}}">{{$title}}</h2>
      {{ end }}
      {{ if eq $heading "h3"}}
        <h3 class="{{$headingclass}}">{{$title}}</h3>
      {{ end }}
      {{ if eq $heading "h4"}}
        <h4 class="{{$headingclass}}">{{$title}}</h4>
      {{ end }}
      {{ if eq $heading "h5"}}
        <h5 class="{{$headingclass}}">{{$title}}</h5>
      {{ end }}
    {{ end }}

    <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-6 xl:gap-24">
      {{ range $index, $element := (where (where ($site.Pages) "Kind" "page") "Type" $params.collection) | first $numItems  }}
      {{ $item := . }}
      <a href="{{$item.RelPermalink}}" class="relative block text-center">
        {{ with .Params.image}}
        {{ partial "image.html" (dict "page" $item  "source" .source "alt" .alt "width" "400" "height" "400" "class" "transform scale-100 hover:scale-110 transition duration-300 mx-auto ") }}
        {{ end }}
        <div class="pt-4 text-center">
          <h3 class="text-xl font-bold lg:text-2xl ">
            {{ .Title }}
          </h3>
          {{ with .Params.function}}
          <span class="prose lg:prose-lg xl:prose-xl">{{ . }}</span>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>

{{ else if eq $params.collection "branches"  }}


<div class="px-6 py-8 mx-auto mb-12 lg:px-8 xl:px-24 lg:mb-24">
  <div class="grid grid-cols-1 gap-16 md:grid-cols-2 xl:gap-y-24 2xl:gap-x-32">
    {{ range $index, $element := (where (where ($site.Pages) "Kind" "page") "Type" $params.collection) | first $numItems  }}
    {{ $pagecolor :=  (cond (ne (.Params.color) nil ) (.Params.color) ("green") ) }}
    {{ $page := .}}
    <a href="{{.RelPermalink}}" class=" page-{{$pagecolor}}">
        {{ with .Title}}
        <h2 class="mb-2 text-2xl font-bold md:text-3xl xl:text-4xl">{{ . | markdownify }}</h2>
        {{ end }}
        {{ with .Params.image}}
        {{ partial "image.html" (dict "page" $page "source" .source "alt" .alt "width" "1600" "height" "900" "class" "mt-6 lg:mt-8 pr-6 md:pr-12 lg:pr-20 xl:pr-32 2xl:pr-48 z-20 relative") }}
       <div class="flex justify-end float-right w-2/3 px-12 pt-6 pb-4 -mb-8 transform -translate-y-8 branch-element-bg md:pt-8 lg:pt-12 lg:pb-6 xl:py-6 2xl:py-8">
          &nbsp;
          <span class="hidden transform -rotate-90 lg:block">
            <div class="flex items-center justify-center w-12 h-12 bg-black bg-opacity-10 ">
              <svg class="w-6 h-6 text-green-100" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
            </div>
          </span>
        </div>
        {{ end }}
      </a>
    {{ end }}
  </div>
</div>

{{ else if eq $params.collection "solutions"  }}


<div class="px-6 py-8 mx-auto mb-12 lg:px-8 xl:px-24 lg:mb-24">
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 xl:gap-y-16 2xl:gap-x-16">
    {{ range $index, $element := (where (where ($site.Pages) "Kind" "page") "Type" $params.collection) | first $numItems  }}
    {{ $pagecolor :=  (cond (ne (.Params.color) nil ) (.Params.color) ("green") ) }}
    {{ if .Params.subpage }} {{ else }}
    {{ $page := .}}
    <a href="{{.RelPermalink}}" class=" page-{{$pagecolor}}">
        {{ with .Title}}
        <h2 class="mb-2 text-2xl font-bold md:text-3xl lg:text-2xl xl:text-4xl">{{ . | markdownify }}</h2>
        {{ end }}
        {{ with .Params.image}}
        {{ partial "image.html" (dict "page" $page "source" .source "alt" .alt "width" "550" "height" "550" "class" "mt-6 xl:mt-8 pr-6 md:pr-12 lg:pr-8 xl:pr-20  z-20 relative") }}
       <div class="flex justify-end float-right w-2/3 pt-4 pb-4 pr-6 -mb-8 transform -translate-y-8 branch-element-bg lg:pt-10 xl:pt-4 ">
          &nbsp;
          <span class="hidden transform -rotate-90 lg:block">
            <div class="flex items-center justify-center w-12 h-12 bg-black bg-opacity-10 ">
              <svg class="w-6 h-6 text-green-100" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
            </div>
          </span>
        </div>
        {{ end }}
      </a>
      {{ end }}
    {{ end }}
  </div>
</div>


{{ else }}

<div class="px-6 py-8 mx-auto max-w-screen-2xl lg:px-8 xl:px-24">
  <div class="mt-12 ">
    {{ if $params.title }}
    <div class="mb-8">
      <h2 class="text-3xl font-bold">{{ $params.title}}</h2>
    </div>
    {{ end }}
    <div class="grid md:grid-cols-3 md:col-gap-12 md:row-gap-12">
    {{ range $index, $element := (where (where ($site.Pages) "Kind" "page") "Type" $params.collection) | first $numItems  }}
    <div class="p-4 border border-gray-200 ">
      {{ $page := . }}
        <h3 class="text-xl font-semibold">{{ .Title }}</h3>

        <a href="{{.RelPermalink}}">{{ T "read_more" }}</a>
    </div>
    {{ end }}
    </div>
  </div>
</div>
{{ end }}