{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}



{{ $color :=  (cond (ne ($page.Params.color) nil ) ( printf "%s%s%s" "bg-" $page.Params.color "-500") ("bg-green-500") ) }}

<div class="max-w-screen-2xl mx-auto px-6 lg:px-12 xl:px-24 py-8 mb-12 lg:mb-20 xl:mb-32">
  <div class="grid grid-cols-5 gap-16">
    <div class="col-span-5 sm:col-span-2"> 
      {{ with $params.contacts }}
        {{ range . }}
          {{ range where $site.Pages "Params.id" . }}
          {{ $item := . }}
          <a href="{{$item.RelPermalink}}" class="block relative text-center">
            {{ with .Params.image}}
            {{ partial "image.html" (dict "page" $item  "source" .source "alt" .alt "width" "400" "height" "400" "class" "transform scale-100 hover:scale-110 transition duration-300 mx-auto ") }}
            {{ end }}
            <div class="text-center  pt-4">
              <h3 class="text-xl lg:text-2xl font-bold   ">
                {{ .Title }}
              </h3>
              <span class="prose lg:prose-lg xl:prose-xl">Functie</span>
            </div>
          </a>
          {{ end }}
        {{ end }}
    </div>
    {{ end }}
    <div class="self-center col-span-5 sm:col-span-3">
      <div class="p-8 sm:p-12 {{$color}} text-white prose lg:prose-lg xl:prose-xl relative">
        <div class="h-12 w-12 transform rotate-45 {{$color}} absolute sm:left-0 sm:-translate-x-1/2 top-0 sm:top-12 -translate-y-1/2 sm:translate-y-0">&nbsp;</div>
        {{ with $params.content }}
          {{ . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>