{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}
{{ $align := .params.align }}
{{ $display := .params.displaymedia }}

<div class="max-w-screen-2xl mx-auto px-6 lg:px-12 xl:px-24 py-8">
  <div class="mb-12 lg:mb-20 xl:mb-32 ">
    <div class="grid md:grid-cols-5 md:gap-x-24 {{if eq $align "right" }}md:grid-flow-col-dense{{end}}">
      <div class="col-span-5 {{if eq $align "center" }}md:col-span-5 mx-auto{{else}}md:col-span-2{{end}} {{if eq $align "right"}}md:col-start-4{{end}} prose lg:prose-lg xl:prose-xl py-6 md:py-2 w-full">
        {{ $params.content | markdownify }}

        {{ with $params.cta }}
        <div class="mt-6">
          {{ if eq .type "button" }}
          <a href="{{.url}}" class="branch-element-bg text-white px-4 py-4 leading-none inline-block hover:opacity-80 transition duration-200" style="color: white !important; text-decoration: none !important;">{{.text}}</a>
          {{ else }}
          <a href="{{.url}}" class="branch-element-text">{{.text}}</a>
          {{ end }}
        </div>
        {{ end}}
        
        {{ with $params.form }}

        {{ range where $site.Pages "Params.id" . }}
        {{ $item := . }}
          {{ with .Title }}
           <h3>{{.}}</h3>
          {{ end }}
          {{ partial "form.html" (dict "page" $page "data" . ) }}

        {{ end }}

        {{ end }}


      </div>
      <div class="col-span-5 md:col-span-3">
        {{ if and ($params.video) (eq $display "custom_video") }}
        <video {{ if $params.video.autoplay}}autoplay muted loop playsinline{{else}}controls{{end}} class="w-full focus:outline-none">
          {{ with  $params.video.source_webm }}
            <source src="{{.}}" type="video/webm">
          {{ end }}
          {{ with  $params.video.source_mp4 }}
          <source src="{{.}}" type="video/mp4">
          {{ end }}
        </video>
      {{ end }}

      {{ if and ($params.iframe) (eq $display "iframe") }}
      <div class="video-wrapper">
        <iframe src="{{$params.iframe.source}}" frameborder="0"></iframe>
      </div>
      {{ end}}
      
      {{ if and ($params.image) (eq $display "image") }}
        {{ if $params.fullwidth }}
        {{ partial "image.html" (dict "page" $page "source" $params.image.source "alt" $params.image.alt "width" "2560" "height" "1200" "class" "") }}
        {{ else }}
        {{ partial "image.html" (dict "page" $page "source" $params.image.source "alt" $params.image.alt "width" "1640" "height" "900" "class" "") }}
        {{ end }}
      {{ end }}
  
      {{ if and ($params.youtube) (eq $display "youtube_video") }}
        {{ with $params.youtube.id}}
        <div class="video-wrapper">
          <div id="player-{{. | urlize}}" data-video="{{.}}" class="videoplayer"></div>
        </div>
        <!-- <script>
         
        </script> -->
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
</div>