{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}
{{ $align := .params.align }}
<div class="max-w-screen-2xl mx-auto px-6 lg:px-12 xl:px-24 py-8">
  <div class="mb-12 lg:mb-20 xl:mb-32 ">
    <div class="grid md:grid-cols-5 md:gap-x-24 {{if eq $align "right" }}md:grid-flow-col-dense{{end}}">
      <div class="col-span-5 md:col-span-2 {{if eq $align "right"}}md:col-start-4{{end}} prose lg:prose-lg xl:prose-xl py-6 md:py-12">
        {{$params.content | markdownify}}
      </div>
      <div class="col-span-5 md:col-span-3">
        {{ partial "image.html" (dict "page" $page "source" $params.image.source "alt" $params.image.alt "width" "1000" "height" "600" "class" "") }}
      </div>
    </div>
  </div>
</div>