{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}

<div class="max-w-screen-2xl mx-auto  px-6 lg:px-12 xl:px-24 py-8 lg:py-12 xl:py-32 mb-12 lg:mb-32 xl:mb-48">
  {{ with $params.title }}
  <h1 class="text-4xl font-bold mb-4">{{ . | markdownify }}</h1>
  {{ end }}
  {{ with $params.image}}
  {{ partial "image.html" (dict "page" $page "source" .source "alt" .alt "width" "1600" "height" "900" "class" "mt-12  pr-12 xl:pr-48 z-20 relative") }}
  {{ end }}
  <div class="bg-green-400 w-2/3 py-12 lg:py-16 transform float-right -translate-y-16 flex justify-end px-12">
    <a href="#main">
      <div class="w-12 h-12 bg-green-500  flex items-center justify-center animate-bounce duration-700 ">
        <svg class="w-6 h-6 text-green-100" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 17l-4 4m0 0l-4-4m4 4V3"></path></svg>
      </div>
    </a>
  </div>
</div>