{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}
{{ $display := .params.displaymedia }}

<div class="max-w-screen-2xl w-full mx-auto  px-6 lg:px-8 xl:px-24 py-8 md:pb-20 xl:pt-24  {{if $params.image }} {{end}}  xl:-translate-y-6 transform">
  <div class="pr-6 md:pr-12 xl:pr-48 {{ if eq $params.align "center"}}text-center{{end}} {{ if eq $params.align "right"}}text-right{{end}} ">
  {{ with $params.title }}
  <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">{{ . | markdownify }}</h1>
  {{ end }}
  {{ with $params.content }}
  <div class="prose lg:prose-lg xl:prose-xl max-w-full">
    {{ . | markdownify }}
  </div>
  {{ end }}
  </div>
  
  {{ if and ($params.video) (eq $display "custom_video") }}
  <div class="mt-6 lg:mt-12 pr-6 md:pr-12 xl:pr-48 z-20 relative">
    <video {{ if $params.video.autoplay}}autoplay muted loop playsinline{{else}}controls{{end}} class="w-full focus:outline-none">
      {{ with  $params.video.source_webm }}
        <source src="{{.}}" type="video/webm">
      {{ end }}
      {{ with  $params.video.source_mp4 }}
      <source src="{{.}}" type="video/mp4">
      {{ end }}
    </video>
  </div>
  {{ end }}

  {{ if and ($params.iframe) (eq $display "iframe") }}
  <div class="mt-6 lg:mt-12 pr-6 md:pr-12 xl:pr-48 z-20 relative">
    <div class="video-wrapper">
      <iframe src="{{$params.iframe.source}}" frameborder="0"></iframe>
    </div>
  </div>
  {{ end}}

  {{ if and ($params.image) (eq $display "image") }}
    {{ partial "image.html" (dict "page" $page "source" $params.image.source "alt" $params.image.alt "width" "1600" "height" "900" "class" "mt-6 lg:mt-12 pr-6 md:pr-12 xl:pr-48 z-20 relative") }}
  {{ end }}

  {{ if and ($params.youtube) (eq $display "youtube_video") }}
  {{ with $params.youtube.id}}
  <div class="mt-6 lg:mt-12 pr-6 md:pr-12 xl:pr-48 z-20 relative">
    <div class="video-wrapper relative z-20 mt-8">
      <div id="player-{{. | urlize}}" data-video="{{.}}" class="videoplayer"></div>
    </div>
  </div>
  {{ end }}
{{ end }}

  {{ if or $params.video $params.iframe $params.image $params.youtube }}
  <div class="branch-element-bg w-2/3 pb-4 pt-12 md:pt-24 lg:pb-10 xl:py-16 transform float-right -translate-y-16 -mb-16 flex justify-end px-12">
    &nbsp;
    <a href="#main" class="hidden md:block">
      <div class="w-12 h-12 bg-black bg-opacity-10 flex items-center justify-center animate-bounce duration-700 ">
        <span class="sr-only">{{ T "scroll_down" }}</span>
        <svg class="w-6 h-6 text-green-100" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
      </div>
    </a>
  </div>
  {{ end }}
</div>