{{ $site := .Site }}
{{ $page := . }}

{{ with .Params.blocks }}

  {{ range . }}

    {{ if eq .type "hero_block" }}
      {{ partial "blocks/hero_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}

  {{ end }}

  <div id="main" class="flex-1">
  {{ range . }}

   
    {{ if eq .type "selectedfaqs_block" }}
      {{ partial "blocks/selectedfaqs_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}
    {{ if eq .type "selectedreviews_block" }}
      {{ partial "blocks/selectedreviews_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}
    {{ if eq .type "selectedwork_block" }}
      {{ partial "blocks/selectedwork_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}

    {{ if eq .type "content_block" }}
      {{ partial "blocks/content_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}

    {{ if eq .type "collection_block" }}
      {{ partial "blocks/collection_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}

    {{ if eq .type "contact_block" }}
      {{ partial "blocks/contact_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}

    {{ if eq .type "banner_block" }}
      {{ partial "blocks/banner_block.html" (dict "params" . "page" $page "site" $site) }}
    {{ end }}

  {{ end }}
  </div>
{{ end }}