{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}

<div class="mb-12 text-gray-800 lg:mb-24">
  <div class="px-6 mx-auto lg:px-8 xl:px-24">
    {{ with $params.title }}
    <span class="block mb-4 text-2xl font-bold text-center lg:text-3xl">{{.}}</span>
    {{ end }}
    {{ with $params.content }}
    <div class="-mt-2 text-center">
      {{ . }}
    </div>
    {{ end }}
    {{ if $params.logo_items }}
      <div class="flex flex-wrap items-center justify-center ">
        {{ range $params.logo_items}}
          {{ range where $site.Pages "Params.title" . }}
          {{ $item := . }}
            {{ with .Params.image}}
            <div class="flex items-center justify-center w-1/2 px-4 py-4 md:py-8 sm:w-1/6 ">
              {{ partial "logo.html" (dict "page" $item "source" .source "alt" .logo.alt "width" "200"  "class" "") }}
            </div>
            {{ end }}
          {{ end }}
        {{ end  }}
      </div>
    {{ end }}
  </div>
</div>