{{ $site := .site }}
{{ $page := .page }}
{{ $params := .params }}

<div class="bg-gray-100 text-gray-800">
  <div class="mx-auto  px-6 lg:px-12 xl:px-24 py-8 lg:py-12 xl:py-32">

    {{ with $params.title }}
      <h2 class="text-2xl font-bold mb-4 xl:mb-16">{{ . | markdownify }}</h2>
    {{ end }}

    {{ with $params.items }}
    <div class="grid grid-cols-3">

    
    {{ range . }}
    
      {{ range where $site.Pages "Params.id" . }}
      <div>
        {{ .Title }}
      </div>
      {{ end }}

    {{ end }}

    </div>

    {{ end }}

  </div>
</div>