<!DOCTYPE html>
<html lang="en" class="smooth-scroll">
  {{- partial "head.html" . -}}

  {{ $pagecolor :=  (cond (ne (.Params.color) nil ) (.Params.color) ("green") ) }}


  <body class="bg-white text-gray-800 flex flex-col justify-between min-h-screen font-sans page-{{$pagecolor}}">
      <div class="flex flex-col flex-1">
        {{- partial "header.html" . -}}
        <div id="content" class="flex flex-col flex-1" >
        {{- block "main" . }}{{- end }}
        </div>
      </div>
      {{- partial "footer.html" . -}}
  </body>
</html>
